
html, body {
    height: 100%;
    margin: 0;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #2c2c2c; 
}

form {
    background-color: #222121;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(105, 105, 105, 0.336);
    width: 350px;
}


h2 {
    margin-bottom: 5px;
    color: #ffffff;;

}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color:white;
}

.form-group input {
    width: 330px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;

}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

.logo-container {
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
}

.login-logo {
    width: 20em; 

}
